 <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/product-images/home-bg.svg" alt="">
      <div class="header-content">
        <div class="menu">
          <ion-icon name="menu-outline"></ion-icon>

          <ion-avatar slot="end">
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="User Avatar">
          </ion-avatar>
        </div>
        <div class="title-card">
          <span>Dashboard</span>
          <span class="small-text">Hello user, Good Day.</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard-grid">
    <ion-card class="dashboard-card" routerLink="/verify">
      <ion-card-content>
        <img src="/assets/product-images/picking.png" alt="Pick">
        <ion-label>Pick Verify</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card class="dashboard-card">
      <ion-card-content>
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>More</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>